.card {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 387px;
    border-radius: 20px;
    margin: 3px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho_titulo {
    text-shadow: 0 4px 4px #ffffff;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    position: absolute;  
 }

.cabecalho_imagem{
    border-radius: 17px 17px 0 0;
    display: inline-block;
    width: 100%;
}
 
 .texto {
    margin: 10px 13px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.botao {
    text-align: center;
    background-color: #50AA5A;
    border-radius: 0 0 19px 19px;
    text-decoration: none;
    padding-top: 13px ;
    padding-bottom: 13px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.botao:hover {
    background-color: #418a4a;
}

