.capa {
    background-image: url("/image-9.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.corpo {
    background-color: rgb(238, 238, 184);
}

.corpo_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
}