.page{
    display: flex;
    flex-direction:column;
}

.conteudo{
    margin:15px;
}

.radio {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    
}

.radio_texto {
    display: flex;
    gap: .3em;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.termos{ 
    display: flex;
    align-items: center;
    gap:5px;
    
}