@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

:root {
    --quick: 'Quicksand', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--quick);
    box-sizing: border-box;
}


body{
    box-sizing: border-box;
    font-family: var(--quick);
}

.cabecalho {
    display: flex;
    align-items: center;
    background-color: #1B4436;
    height: 50px;
    padding-left: 127px;   
}

.cabecalho-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 16px;
}

.cabecalho-links-botao {
    text-decoration: none;
    color: #FFFFFF;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/image-9.png);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
}

.apresentacao-titulo {
    background-color:rgba(34, 82, 67, 0.7);
    padding: 7px 12px;
    font-size: 48px;
    color: #ffffff;
    margin-top: 85px;
}

.conteudo {
    padding: 36px 120px;
}

.conteudo-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 390px;
    max-width: 387px;
    border-radius: 20px;
    border: 1px solid #50AA5A;
    margin: 3px;

}

.card-cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


.card-titulo {
   text-shadow: 0 4px 4px #ffffff;
   font-size: 32px;
   font-family: var(--quick);
   font-weight: 500;
   position: absolute;
    
}

.card-image{
    border-radius: 18px 18px 0 0;
    display: inline-block;
    width: 100%;
}

.card-conteudo {
    padding: 10px 13px;
    font-size: 14px;
    font-family: var(--quick);
    font-weight: 400;
}

.card-botao {
    background-color:#50AA5A;
    text-decoration: none;
    color: white;
    border: 0.5px solid #50AA5A;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    border-radius: 0 0 18px 18px;
    display: inline-block;
    height: 100%;
}

.card-botao:hover {
    background-color: #418a4a;
}