.cabecalho {
    display: flex;
    align-items: center;
    background-color: #1B4436;
    height: 50px;
    padding-left: 127px; 
}

.cabecalho_botao{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 16px;
}

.cabecalho_link  {
    text-decoration: none;
    color: #FFFFFF;
}